.cardContainer {
    border: 2px solid rgb(110, 70, 47);
    background-color: rosybrown;
    font-weight: 600;
    font-size: 17px;

    margin: auto;
    text-align: center;
    max-width: 200px;
    max-height: 400px;
}

.image {
    max-height: 150px;
    max-width: 200px;
}